.footer__link {
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    transition: text-decoration 1s linear 2s;
}

.footer__link:active {
    color: f2f2f2;
}

.footer__link:hover {
    text-decoration: underline;
}